<!--CREDIT CART PAYMENT-->
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading"><span><i class="glyphicon glyphicon-lock"></i></span> Secure Payment</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="col-md-12"><strong>Card Type:</strong></div>
        <div class="col-md-12">
          <select id="CreditCardType" name="CreditCardType" ng-model="card.type" class="form-control">
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
            <option value="American Express">American Express</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12"><strong>Credit Card Number:</strong></div>
        <div class="col-md-12"><input type="text" class="form-control" ng-model="card.number" name="car_number" value="" /></div>
      </div>
      <div class="form-group">
        <div class="col-md-12"><strong>Card CVV:</strong></div>
        <div class="col-md-12"><input type="text" class="form-control" ng-model="card.cvv" name="car_code" value="" /></div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <strong>Expiration Date</strong>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" ng-model="card.ExpireMonth" name="">
            <option value="">Month</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <select class="form-control" ng-model="card.ExpireYear" name="" required >
            <option value="">Year</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12">
        <button ng-click="AddCard()" class="btn btn-primary btn-submit-fix">Add card</button>
        </div>
      </div>
    </div>
  </div>


  <h2>All cards</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Card Number</th>
        <th>Card Number decrypted</th>
        <th>Card Type</th>
        <th>Card exp month</th>
        <th>Card exp year</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in cards">
        <td>{{card.number}}</td>
        <td>{{card.decrypt}}</td>
        <td>{{card.type}}</td>
        <td>{{card.ExpireMonth}}</td>
        <td>{{card.ExpireYear}}</td>
      </tr>
    </tbody>
  </table>
</div>
                    <!--CREDIT CART PAYMENT END-->